p {
    font-family: Georggia, "Times New Roman", Times, serif;
    font-size: 1.2em;
}
h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 2em;
}
 p.important {
    font-size: 1.5em;
    font-weight: 900;
 }
 h3.bigger {
    font-size: 2.5em;
 }
 p.bold {
    font-size: 3em;
 }
 .typewriter {
    font-family: "Courier New", Courier, monospace;
    color:blue;
 }
 .emphasized {
    font-style: italic;
 }
 .painted {
      color: red;
 }
 .spaced {
   letter-spacing: 0.1em;
   word-spacing: 0.3em;
   line-height: 0.5em; 
 }
blockquote {
   font-size: 1.5em;
   font-family: "Arial", sans-serif;
   color: green;
}